$enable-grid-classes: false;
$enable-cssgrid: true;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 960px;
  // background-color: #777;
}
body {
  background-color: #fafafa;
}
.header {
  &__wrap {
    padding: 110px 0 100px;
    .title {
      font-family: "PT Serif", serif;
      font-size: 36px;
      font-weight: 700;
    }
  }
  &__content {
    font-family: "Poppins", sans-serif;
    // width: 440px;
    h3 {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      font-size: 400;
    }
  }
}

.team {
  // &__wrap{
  // 	justify-content: space-between;
  // 	display: grid;
  // 	grid-template-rows: repeat(2,1fr);
  // 	grid-template-columns: repeat(3, 1fr);
  // 	grid-gap: 20px;
  // 	height: 1000px;
  // }
  &__item {
    // align-self: start;
    width: 265px;
    height: 470px;
    border: 2px solid #000;
    position: relative;
		// background-color: burlywood;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 90%;
      object-fit: cover;
    }
    &::before {
      content: "NARA";
			font-family: 'Julee', cursive;
      position: absolute;
      top: 12px;
      right: -13px;
			transform: rotate(90deg);
      font-size: 1.6rem;
      display: flex;
      flex-wrap: nowrap;
    }
		&:nth-child(2):before {
			content: "UCHIHA";
			top: 24px;
      right: -26px;
		}
		&:nth-child(3)::before {
			content: "KAKASHI";
			top: 29px;
      right: -28px;
		}
		&:nth-child(4)::before {
			content: "UZUMAKI";
			top: 33px;
      right: -34px;
		}
		&:nth-child(5)::before {
			content: "MINADZAKI";
			top: 44px;
      right: -44px;
		}
		&:last-child::before {
			content: "UCHIHA";
			top: 25px;
      right: -26px;
		}
    &::after {
      content: "SHIKAMARU";
			font-family: 'Julee', cursive;
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 1.6rem;
      display: flex;
      flex-wrap: nowrap;
    }
		&:nth-child(2):after {
			content: "SASKE";
		}
		&:nth-child(3)::after {
			content: "KAKASHI";
		}
		&:nth-child(4)::after {
			content: "NARUTO";
		}
		&:nth-child(5)::after {
			content: "MINATO";
		}
		&:last-child::after {
			content: "ITACHI";
		}
  }
  .m-top {
    margin-top: auto;
  }
}
.link {
  font-family: "Montserrat", sans-serif;
}
